# Classify 1994 Census Income Data

 **Starting a spark session**

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Classify 1994 Census Income Data').getOrCreate()

In [3]:
spark

**Loading the dataset**

In [4]:
data=spark.read.csv('adult.csv')

**Reading the dataset**

In [5]:
data=spark.read.option('header','true').csv('adult.csv',inferSchema=True)

In [6]:
data.show()

+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|marital_status|       occupation|  relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 90|            null| 77053|     HS-grad|            9|       Widowed|             null| Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|
| 82|         Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial| Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
| 66|            null|186061|Some-college|           10|       Widowed|             null|     Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|
| 54|         Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
| 41|         Private|264663|Some-college|           10|     Separated|   Prof-specialty|     Own-child|White|Female|           0|        3900|            40| United-States| <=50K|
| 34|         Private|216864|     HS-grad|            9|      Divorced|    Other-service|     Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|
| 38|         Private|150601|        10th|            6|     Separated|     Adm-clerical|     Unmarried|White|  Male|           0|        3770|            40| United-States| <=50K|
| 74|       State-gov| 88638|   Doctorate|           16| Never-married|   Prof-specialty|Other-relative|White|Female|           0|        3683|            20| United-States|  >50K|
| 68|     Federal-gov|422013|     HS-grad|            9|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|
| 41|         Private| 70037|Some-college|           10| Never-married|     Craft-repair|     Unmarried|White|  Male|           0|        3004|            60|          null|  >50K|
| 45|         Private|172274|   Doctorate|           16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|           0|        3004|            35| United-States|  >50K|
| 38|Self-emp-not-inc|164526| Prof-school|           15| Never-married|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            45| United-States|  >50K|
| 52|         Private|129177|   Bachelors|           13|       Widowed|    Other-service| Not-in-family|White|Female|           0|        2824|            20| United-States|  >50K|
| 32|         Private|136204|     Masters|           14|     Separated|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            55| United-States|  >50K|
| 51|            null|172175|   Doctorate|           16| Never-married|             null| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 46|         Private| 45363| Prof-school|           15|      Divorced|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 45|         Private|172822|        11th|            7|      Divorced| Transport-moving| Not-in-family|White|  Male|           0|        2824|            76| United-States|  >50K|
| 57|         Private|317847|     Masters|           14|      Divorced|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
| 22|         Private|119592|  Assoc-acdm|           12| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|           0|        2824|            40|          null|  >50K|
| 34|         Private|203034|   Bachelors|           13|     Separated|            Sales| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

**Checking the number of null values**

In [7]:
from pyspark.sql.functions import isnan, when, count, col
data.select([count(when(col(c).isNull(), c)).alias(c) for c in data.columns]).toPandas()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,1836,0,0,0,0,1843,0,0,0,0,0,0,583,0

**Cleaning the data from the dataset**

In [8]:
# Dropping all the null values in the data set.
cleaned_data=data.na.drop()

**Encoding the categorical data into numerical data**

In [9]:
from pyspark.ml.feature import VectorAssembler,StringIndexer

In [10]:
workclassEncoder = StringIndexer(inputCol='workclass',outputCol='workclass_Encoded').fit(cleaned_data)
educationEncoder = StringIndexer(inputCol='education',outputCol='education_Encoded').fit(cleaned_data)
marital_statusEncoder = StringIndexer(inputCol='marital_status',outputCol='marital_status_Encoded').fit(cleaned_data)
occupationEncoder = StringIndexer(inputCol='occupation',outputCol='occupation_Encoded').fit(cleaned_data)
relationshipEncoder = StringIndexer(inputCol='relationship',outputCol='relationship_Encoded').fit(cleaned_data)
raceEncoder = StringIndexer(inputCol='race',outputCol='race_Encoded').fit(cleaned_data)
sexEncoder = StringIndexer(inputCol='sex',outputCol='sex_Encoded').fit(cleaned_data)
native_countryEncoder = StringIndexer(inputCol='native_country',outputCol='native_country_Encoded').fit(cleaned_data)
incomeEncoder = StringIndexer(inputCol='income',outputCol='income_Encoded').fit(cleaned_data)

In [11]:
cleaned_data=workclassEncoder.transform(cleaned_data)
cleaned_data=educationEncoder.transform(cleaned_data)
cleaned_data=marital_statusEncoder.transform(cleaned_data)
cleaned_data=occupationEncoder.transform(cleaned_data)
cleaned_data=relationshipEncoder.transform(cleaned_data)
cleaned_data=raceEncoder.transform(cleaned_data)
cleaned_data=sexEncoder.transform(cleaned_data)
cleaned_data=native_countryEncoder.transform(cleaned_data)
cleaned_data=incomeEncoder.transform(cleaned_data)

In [12]:
cleaned_data.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education_num',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'income',
 'workclass_Encoded',
 'education_Encoded',
 'marital_status_Encoded',
 'occupation_Encoded',
 'relationship_Encoded',
 'race_Encoded',
 'sex_Encoded',
 'native_country_Encoded',
 'income_Encoded']

**Selecting all the numerical variables**

In [13]:
cleaned_data=cleaned_data.select('age',
 'fnlwgt',
 'education_num',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'workclass_Encoded',
 'education_Encoded',
 'marital_status_Encoded',
 'occupation_Encoded',
 'relationship_Encoded',
 'race_Encoded',
 'sex_Encoded',
 'native_country_Encoded',
 'income_Encoded')

In [14]:
cleaned_data.show()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_Encoded,education_Encoded,marital_status_Encoded,occupation_Encoded,relationship_Encoded,race_Encoded,sex_Encoded,native_country_Encoded,income_Encoded
0,82,132870,9,0,4356,18,0.0,0.0,4.0,2.0,1.0,0.0,1.0,0.0,0.0
1,54,140359,4,0,3900,40,0.0,8.0,2.0,6.0,3.0,0.0,1.0,0.0,0.0
2,41,264663,10,0,3900,40,0.0,1.0,3.0,0.0,2.0,0.0,1.0,0.0,0.0
3,34,216864,9,0,3770,45,0.0,0.0,2.0,5.0,3.0,0.0,1.0,0.0,0.0
4,38,150601,6,0,3770,40,0.0,7.0,3.0,3.0,3.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,22,310152,10,0,0,40,0.0,1.0,1.0,11.0,1.0,0.0,0.0,0.0,0.0
30158,27,257302,12,0,0,38,0.0,6.0,0.0,10.0,4.0,0.0,1.0,0.0,0.0
30159,40,154374,9,0,0,40,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,1.0
30160,58,151910,9,0,0,40,0.0,0.0,4.0,3.0,3.0,0.0,1.0,0.0,0.0
30161,22,201490,9,0,0,20,0.0,0.0,1.0,3.0,2.0,0.0,0.0,0.0,0.0

**Selecting all the features and vectorising them using VectorAssembler**

In [15]:
required_features = ['age',
 'fnlwgt',
 'education_num',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'workclass_Encoded',
 'education_Encoded',
 'marital_status_Encoded',
 'occupation_Encoded',
 'relationship_Encoded',
 'race_Encoded',
 'sex_Encoded',
 'native_country_Encoded']

In [16]:
vec_assembler = VectorAssembler(inputCols=required_features,outputCol='features')
vec_df = vec_assembler.transform(cleaned_data)
vec_df.show()

+---+------+-------------+------------+------------+--------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+----------------------+--------------+--------------------+
|age|fnlwgt|education_num|capital_gain|capital_loss|hours_per_week|workclass_Encoded|education_Encoded|marital_status_Encoded|occupation_Encoded|relationship_Encoded|race_Encoded|sex_Encoded|native_country_Encoded|income_Encoded|            features|
+---+------+-------------+------------+------------+--------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+----------------------+--------------+--------------------+
| 82|132870|            9|           0|        4356|            18|              0.0|              0.0|                   4.0|               2.0|                 1.0|         0.0|        1.0|                   0.0|           0.0|[82.0,132870.0,9....|
| 54|140359|            4|           0|        3900|            40|              0.0|              8.0|                   2.0|               6.0|                 3.0|         0.0|        1.0|                   0.0|           0.0|[54.0,140359.0,4....|
| 41|264663|           10|           0|        3900|            40|              0.0|              1.0|                   3.0|               0.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[41.0,264663.0,10...|
| 34|216864|            9|           0|        3770|            45|              0.0|              0.0|                   2.0|               5.0|                 3.0|         0.0|        1.0|                   0.0|           0.0|[34.0,216864.0,9....|
| 38|150601|            6|           0|        3770|            40|              0.0|              7.0|                   3.0|               3.0|                 3.0|         0.0|        0.0|                   0.0|           0.0|[38.0,150601.0,6....|
| 74| 88638|           16|           0|        3683|            20|              3.0|             12.0|                   1.0|               0.0|                 5.0|         0.0|        1.0|                   0.0|           1.0|[74.0,88638.0,16....|
| 68|422013|            9|           0|        3683|            40|              5.0|              0.0|                   2.0|               0.0|                 1.0|         0.0|        1.0|                   0.0|           0.0|[68.0,422013.0,9....|
| 45|172274|           16|           0|        3004|            35|              0.0|             12.0|                   2.0|               0.0|                 3.0|         1.0|        1.0|                   0.0|           1.0|[45.0,172274.0,16...|
| 38|164526|           15|           0|        2824|            45|              1.0|              9.0|                   1.0|               0.0|                 1.0|         0.0|        0.0|                   0.0|           1.0|[38.0,164526.0,15...|
| 52|129177|           13|           0|        2824|            20|              0.0|              2.0|                   4.0|               5.0|                 1.0|         0.0|        1.0|                   0.0|           1.0|[52.0,129177.0,13...|
| 32|136204|           14|           0|        2824|            55|              0.0|              3.0|                   3.0|               2.0|                 1.0|         0.0|        0.0|                   0.0|           1.0|[32.0,136204.0,14...|
| 46| 45363|           15|           0|        2824|            40|              0.0|              9.0|                   2.0|               0.0|                 1.0|         0.0|        0.0|                   0.0|           1.0|(14,[0,1,2,4,5,7,...|
| 45|172822|            7|           0|        2824|            76|              0.0|              5.0|                   2.0|               7.0|                 1.0|         0.0|        0.0|                   0.0|           1.0|[45.0,172822.0,7....|
| 57|317847|           14|           0|        2824|            50|              0.0|              3.0|                   2.0|               2.0|                 1.0|         0.0|        0.0|                   0.0|           1.0|[57.0,317847.0,14...|
| 34|203034|           13|           0|        2824|            50|              0.0|              2.0|                   3.0|               4.0|                 1.0|         0.0|        0.0|                   0.0|           1.0|[34.0,203034.0,13...|
| 37|188774|           13|           0|        2824|            40|              0.0|              2.0|                   1.0|               2.0|                 1.0|         0.0|        0.0|                   0.0|           1.0|[37.0,188774.0,13...|
| 29| 77009|            7|           0|        2754|            42|              0.0|              5.0|                   3.0|               4.0|                 1.0|         0.0|        1.0|                   0.0|           0.0|[29.0,77009.0,7.0...|
| 61| 29059|            9|           0|        2754|            25|              0.0|              0.0|                   2.0|               4.0|                 3.0|         0.0|        1.0|                   0.0|           0.0|[61.0,29059.0,9.0...|
| 51|153870|           10|           0|        2603|            40|              0.0|              1.0|                   0.0|               7.0|                 0.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,4,5,7,...|
| 21| 34310|           11|           0|        2603|            40|              0.0|              4.0|                   0.0|               1.0|                 0.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,4,5,7,...|
+---+------+-------------+------------+------------+--------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+----------------------+--------------+--------------------+
only showing top 20 rows

**Spliting the data into test set and training set**

In [17]:
x_train,x_test = vec_df.randomSplit([0.8,0.2])

**Using a Logistic Regression model and fitting training set into it**

In [18]:
from pyspark.ml.classification import LogisticRegression,DecisionTreeClassifier

In [19]:
 l=LogisticRegression(featuresCol='features',labelCol='income_Encoded')

In [20]:
l_model = l.fit(x_train)

In [21]:
y_pred = l_model.transform(x_test)

In [22]:
y_pred.show()

+---+------+-------------+------------+------------+--------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+----------------------+--------------+--------------------+--------------------+--------------------+----------+
|age|fnlwgt|education_num|capital_gain|capital_loss|hours_per_week|workclass_Encoded|education_Encoded|marital_status_Encoded|occupation_Encoded|relationship_Encoded|race_Encoded|sex_Encoded|native_country_Encoded|income_Encoded|            features|       rawPrediction|         probability|prediction|
+---+------+-------------+------------+------------+--------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+----------------------+--------------+--------------------+--------------------+--------------------+----------+
| 17| 27415|            7|           0|           0|            20|              0.0|              5.0|                   1.0|               8.0|                 2.0|         3.0|        0.0|                   0.0|           0.0|[17.0,27415.0,7.0...|[5.40361511405307...|[0.99551987934288...|       0.0|
| 17| 32124|            5|           0|           0|             9|              2.0|             10.0|                   1.0|               5.0|                 2.0|         1.0|        0.0|                   0.0|           0.0|[17.0,32124.0,5.0...|[5.91744736424429...|[0.99731516447640...|       0.0|
| 17| 33138|            8|           0|           0|            40|              0.0|             11.0|                   1.0|               4.0|                 2.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,5,7,8,...|[3.90728889647827...|[0.98030094403967...|       0.0|
| 17| 47199|            7|           0|           0|            24|              0.0|              5.0|                   1.0|              12.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[17.0,47199.0,7.0...|[5.54803406810614...|[0.99612000575677...|       0.0|
| 17| 53367|            5|           0|           0|            35|              0.0|             10.0|                   1.0|               5.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[17.0,53367.0,5.0...|[5.46448663588468...|[0.99578334116544...|       0.0|
| 17| 53611|            8|           0|           0|             6|              0.0|             11.0|                   1.0|               5.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[17.0,53611.0,8.0...|[5.48406284172169...|[0.99586474659293...|       0.0|
| 17| 73338|            7|           0|           0|            20|              0.0|              5.0|                   1.0|               4.0|                 2.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,5,7,8,...|[4.73608102592818...|[0.99130333558159...|       0.0|
| 17| 95446|            6|           0|           0|            15|              0.0|              7.0|                   1.0|               5.0|                 2.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,5,7,8,...|[5.30392077100439...|[0.99505253775901...|       0.0|
| 17|101626|            5|           0|           0|            20|              0.0|             10.0|                   1.0|               6.0|                 2.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,5,7,8,...|[5.57421216721810...|[0.99621987972172...|       0.0|
| 17|103851|            7|        1055|           0|            20|              0.0|              5.0|                   1.0|               3.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[17.0,103851.0,7....|[4.73367602564680...|[0.99128257747868...|       0.0|
| 17|104232|            6|           0|           0|            10|              0.0|              7.0|                   1.0|               5.0|                 2.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,5,7,8,...|[5.46178245720775...|[0.99577197141105...|       0.0|
| 17|106733|            7|         594|           0|            40|              0.0|              5.0|                   1.0|               1.0|                 2.0|         0.0|        0.0|                   0.0|           0.0|[17.0,106733.0,7....|[3.68071433414215...|[0.97541470776000...|       0.0|
| 17|108273|            6|           0|           0|            12|              0.0|              7.0|                   1.0|               4.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[17.0,108273.0,6....|[5.74315388111596...|[0.99680559169524...|       0.0|
| 17|110798|            7|           0|           0|            20|              0.0|              5.0|                   1.0|               4.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[17.0,110798.0,7....|[5.12498331883264...|[0.99408883312227...|       0.0|
| 17|111332|            7|           0|           0|            20|              0.0|              5.0|                   1.0|               4.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[17.0,111332.0,7....|[5.12463265171019...|[0.99408677216630...|       0.0|
| 17|115551|            7|           0|           0|            20|              0.0|              5.0|                   1.0|               5.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[17.0,115551.0,7....|[5.18588606615093...|[0.99443615269845...|       0.0|
| 17|120068|            7|           0|           0|            17|              0.0|              5.0|                   1.0|               8.0|                 2.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,5,7,8,...|[5.05966892486837...|[0.99369237792718...|       0.0|
| 17|121425|            7|           0|           0|            16|              0.0|              5.0|                   1.0|               3.0|                 2.0|         0.0|        1.0|                   0.0|           0.0|[17.0,121425.0,7....|[5.18488585442274...|[0.99443061589836...|       0.0|
| 17|126771|            8|           0|           0|             7|              0.0|             11.0|                   1.0|               0.0|                 2.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,5,7,8,...|[4.66967261446463...|[0.99071174218512...|       0.0|
| 17|126832|            6|           0|           0|            30|              0.0|              7.0|                   1.0|               5.0|                 2.0|         0.0|        0.0|                   0.0|           0.0|(14,[0,1,2,5,7,8,...|[4.79241638220941...|[0.99177580274073...|       0.0|
+---+------+-------------+------------+------------+--------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+----------------------+--------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [23]:
y_pred.select('income_Encoded', 'prediction').show()

+--------------+----------+
|income_Encoded|prediction|
+--------------+----------+
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
|           0.0|       0.0|
+--------------+----------+
only showing top 20 rows

**Measuring the accuracy of the machine model**

In [24]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
multi_evaluator = MulticlassClassificationEvaluator(labelCol='income_Encoded',metricName='accuracy')
multi_evaluator.evaluate(y_pred)

0.8351684470008217